/* html {
  background-color: green;
  background: url("../public/map.jpg");
} */

.CenterText {
  text-align: center;
}

.city {
    max-width:100%;
    height:auto;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 0px 37px 12px rgba(0,0,0,0.26);
}

/* .cityDiv {
  position: absolute;
} */

.cityContainer {
  position: relative;
}

.gracieHongKong {
  max-width:auto;
  height: 105px;
  position: relative;
  bottom: 200px;
  right: 300px;
  z-index: 0;
}

.gracieHolding {
  max-width:auto;
  height: 250px;
  bottom: 200px;
  right: 300px;
  z-index: 0;
}

.holding {
  height: 40%
}

.CaseFile {
  height: 60%
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 10px;
  background: white;
  z-index: 4;
}
